@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 100px;
  }
  
  .text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-family: 'Lora', serif;
  }
  
  .text span {
    color: #fe5b3d;
  }
  
  .text p {
    margin: 0.5rem 0 1rem;
  }
  
  .form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 5rem;
    left: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
  }
  
  .input-box {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-box span {
    font-weight: 500;
  }
  
  .input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background: #f8f8f8;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  .form-container form .btn {
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .form-container form .btn:hover {
    background: #fe5b3d;
  }