.MCabAssign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: #222;
    width: fit-content;
    margin-left: 8rem;
    padding: 1rem;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    /* padding: 20px; */
  }
  
  /* .MCabAssign .heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  } */
  
  .MCabAssign label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .MCabAssign input,
  .MCabAssign select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 190px;
  }

  .btn {
    margin-top: 1rem;
    border: none;
    background-color: #1d4ed8;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
  }

  .MCabAssign button:hover {
    background-color: blue;
  }

  .head2{
    text-align: center;
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
}

.head2 h1 {
    font-size: 2rem;
}
  
  /* .MCabAssign button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .MCabAssign button:hover {
    background-color: #45a049;
  } */