.DriverCRUD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/images/bg13.png'); /* Replace the path with your actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.DriverCRUD .form{
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: #faf9f6; */
  padding-bottom: 1rem;
  border: 1px solid #444;
}


.btn {
  margin-top: 1rem;
  border: none;
  background-color: #1d4ed8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  /* box-shadow: 0px 5px 5px #ccc; */
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons #Back {
  background-color: #4caf50;
  color: white;
}

.buttons #Back:hover {
  background-color: #45a049;
}

.buttons #Assign {
  background-color: #fe5b3d;
  color: white;
}

.buttons #Assign:hover {
  background-color: #ffac38;
  color: #444;
}

.heading{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.heading h1 {
  font-size: 2rem;
  color: #333; /* Set the color of the heading text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .heading h1 {
    font-size: 3rem;
  }
}